@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #3f3f3f00;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: slategray;
      border-radius: 100vh;
      border: 3px solid #a3a3a3;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #c0a0b9;
    }
  }